
.text-center {
    /*  background: url(https://get.wallhere.com/photo/dog-animals-1276147.jpg) center center no-repeat;
    background-size: cover;
    padding: 300px 400px 50px 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;*/
}

.display-5 {
    color: white;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 2rem;
    /*padding: 10rem;*/
}

.display-4 {
    color: white;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 4rem;
}


.table1 {
    width: 100%;
    border-collapse: collapse;
}

.table2 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

.impp {
    margin-bottom: 2rem;
    width: 100%;
}

.my-image {
    width: 140px;
    /*//width: 10%;*/
    /*height: auto;*/
    /* height ="100" width="100"*/
}

.text1 {
    align: right;
}

.img-10 {
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
}


body {
    background: pink;
}

.home-image {
    width: 100%;
}