@page
@model petsk.Pages.us.Index1Model
@{
}
<style>
    .container_close {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 256px;
    }
</style>

<div class="container_close">
    <h1>Регистрация завершена</h1>
    <p>Ваша регистрация успешно завершена</p>
    <button type="button" onclick="location.href = '/'">Вернуться на главную</button>
</div>